/************* site defaults *************/

body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
  
}

.flex{

    display: flex;
}
 

/************* site-wide text styling *************/


header h1 {
    font-size: 48px;
    padding: 2rem;
    margin: 0;
    padding-left: 6rem;
}


h2{
    font-size: 36px;
    margin-bottom: 12px;
    white-space: nowrap;
}

.large-text{
    font-size: 24px;
}

.fake-button{
   background-color: #E5AF42;
    text-align: center;
    line-height: 3;
    border: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

header a:hover {
    text-decoration: underline;
}

.fake-button:hover{
    text-decoration: underline;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.blue-hover:hover{
    text-decoration: underline;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}


header, footer{
    background-color: #E5AF42;  
}

header{
    display: flex ;
    height: 150px;
    margin-bottom: 25px;
}

 header img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

footer{
    margin-top: 50px;
    height: 60px;
    font-weight: 200;
    text-align: center;
}
    

/************* index page *************/

.index img{
    width: 300px;
    margin-left: 25px;
    margin-bottom: 50px;

}

.index a{
    width: 250px;
   margin-left: 150px;
    
}


/************* bookings page *************/

.booking-page{
     width: 600px;
     margin:auto;
     text-align: center;
}


ul{
    margin: 12px;
    margin-left: 110px ;
}  

li{
    margin-right: 20px;
    width: 60px;
}

li, #full, #half{
    border: 1px solid black;
}

#full, #half{
    padding: 5px;
}

.top-margin{
    margin-top: 24px;
    margin-bottom: 12px;
}
  
#clear-button{
    width: 200px;
    margin: auto;
}

.clicked{

    background-color:#E5AF42
    
    }


/************* contact page *************/

.contact{
    width:420px;
    margin:auto;
    text-align: center;
    padding-right: 5rem;
}

label{
    width: 150px;
    margin-right: 24px;
}

input, textarea{
    width: 300px;
}

textarea{
    height: 150px;
}

form div, #submit-button{
    margin-top: 24px;
}

    
form{
    text-align: right;
}

input, textarea, .submit-button{

    line-height: 24px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
}

#submit-button{
   width: 268px;
}
